# ================
# Rust
# ================
/target
**/*.rs.bk
Cargo.lock

# ================
# App Generated
# ================
*.ppm

# ================
# OS Generated
# ================
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Thumbs.db.meta

# ================
# Text Editor Generated
# ================
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.vscode
*.vs